.container {
    width: 350px;
    display: flex;
    flex-direction: column;
}

    .container input {
        margin-right: 10px;
    }

.button-group {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 5px 5px;
    margin-left: -5px;
}

    .button-group button {
        margin-right: 5px;
    }

.btn {
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    background-color: black;
}

    .btn:hover {
        border: 1px solid dodgerblue;
        color: dodgerblue;
    }


.txt {
    padding: 10px 5px;
    color: white;
    background-color: black;
    border: 1px solid gray;
    border-radius: 2px;
}

    .txt:hover {
        border: 1px solid dodgerblue;
    }

.identity{
    color:dodgerblue
}
.info {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -5px;
}
.text-info {
    font-size: 12px;
    margin-bottom: 5px;
}
.login-info {
    font-weight: 600;
    font-size: 14px;
}